.selector-for-some-widget {
  box-sizing: content-box;
}

body {
  text-align: left;

  font-family: "Almarai", sans-serif !important;
  margin: 0;
  height: 100vh;
  background: radial-gradient(circle at 20% 20%, #1e293b, #020617 60%);
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  background: #3b82f6;
  filter: blur(200px);
  opacity: 0.25;
  top: -150px;
  left: -150px;

}


body::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background: #9333ea;
  filter: blur(300px);
  opacity: 0.2;
  bottom: -150px;
  right: -150px;
}

form {
  width: 30rem;
  border-radius: 12px;
  padding: 20px;
  background-color: rgb(15, 15, 26);
  color: white;
  position: relative;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

form::after,
form::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: conic-gradient(from var(--angle), transparent 80%, #6b6bff, purple, blue, lightblue);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -3;
  padding: 4px;
  border-radius: 20px;
  animation: 3s spin linear infinite;

}

form::before {
  filter: blur(3rem);
  opacity: 4px;

}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

.tx {
  color: rgb(120, 119, 119);
}

.signUP {
  display: flex;
  justify-content: center;
  margin: 10rem;
}

h1 {
  text-align: center;
  color: white;
  margin-top: 3rem;
}