 body {
   text-align: left;
   direction: ltr;
   margin: 0;
   height: 100vh;
   background: radial-gradient(circle at 20% 20%, #1e293b, #020617 60%);
   overflow: hidden;
   color: white;
   font-family: "Comfortaa", sans-serif !important;
 }




 body::before {
   content: "";
   position: absolute;
   width: 600px;
   height: 600px;
   background: #3b82f6;
   filter: blur(200px);
   opacity: 0.25;
   top: -150px;
   left: -150px;

 }


 body::after {
   content: "";
   position: absolute;
   width: 500px;
   height: 500px;
   background: #9333ea;
   filter: blur(200px);
   opacity: 0.2;
   bottom: -150px;
   right: -150px;
 }

 h1 {
   text-align: center;
   position: relative;
   top: 5rem;
   color: rgb(220, 190, 253);
 }

 .card-1 {
   display: flex;
   align-items: center;
   position: relative;
   top: 10rem;
 }

 .input {
   width: 50rem;
   color: rgb(255, 255, 255);
   height: 40px;
   width: 70rem;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 4rem;
   border-radius: 10px;
   position: relative;
   background-color: #1b202a;
 }

 @property --angle {
   syntax: "<angle>";
   initial-value: 0deg;
   inherits: false;
 }

 .input::after,
 .input::before {
   content: "";
   position: absolute;
   height: 100%;
   width: 100%;
   background: conic-gradient(from var(--angle), transparent 70%, #6b6bff, purple);
   top: 50%;
   left: 50%;
   translate: -50% -50%;
   z-index: -3;
   padding: 4px;
   border-radius: 10px;
   animation: 3s spin linear infinite;

 }

 .input::before {
   filter: blur(1.8rem);
   opacity: 0.5;

 }

 @keyframes spin {
   from {
     --angle: 0deg;
   }

   to {
     --angle: 360deg;
   }
 }