<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>NTest</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="stylesheet" href="static/main.css" />
	<link href="https://fonts.googleapis.com/css2?family=Almarai&display=swap" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>
	<div class="header">
		<p class="Logo">

		</p>
		<p class="Home">
			Home
		</p>

		<p class="Statistics">
			Statistics
		</p>

		<p class="button">
			Log in
		</p>


	</div>
	<hr>
	<div class="title">
		<h1>
			Shorten Long URLs with Ease!
		</h1>
		<h6>
			Paste your link and get a short link quickly
		</h6>
	</div>
	<div class="card-1">
		<div class="input mx-auto w-50 ">
			<form action="/shorten" method="post" class="text-white input-group mb-3 ">
				<input type="text" class=" text-white form-control bg-dark w-40  " placeholder="Your Link"
					aria-label="Your Link" aria-describedby="button-addon2">
				<button class="btn btn-outline-secondary" type="button" id="button-addon2">Shorter</button>
			</form>
		</div>
	</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
	</script>
<script src="js/script.js"></script>
</body>

</html>